* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 2000px;
    max-height: 3000px;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Space Grotesk", sans-serif;
    background-image: linear-gradient(#7B66FF, #C5FFF8);
    overflow-x: hidden;
    overflow-y: auto;
}

header,
main {
    max-width: 90%;
    margin: 0 auto;
    padding: 2% 0;

    /*Centralizar caixas na página*/
}

div {
    border: 2px solid black;
    padding: 40px 10px;
    background-color: aliceblue;
    margin: 1.5rem 3rem 1.5rem 3rem;
    text-align: center;
}

header {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:calc(0.7vw + 12.74px);

}

header img {
    border: 2px solid black;
    min-width: calc(1.0vw + 120px);
    max-width: calc(5vw + 120px);
    background-color: #FFF6E9;
}

h2 {
    margin-bottom: 2%;
    font-size:calc(1.0vw + 1.4rem);

}

.paragrafo {
    font-size: calc(0.3vw + 1rem);
    text-align: center;
    list-style: none;
    margin-left: 1rem;
    line-height: 1.5rem;
}

.lista {
    font-size: calc(0.3vw + 1rem);

    text-align: left;
    list-style: disc;
    margin-left: 2%;
    line-height: 1.6rem;

}

#listachata {
    list-style: decimal;
}

.botao {

    display: inline-block;
    padding: 10px 20px;
    font-size:calc(1.0vw + 12.74px);
    background-color: #0e7ecd;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
    background-color: #45a049;
}

.botao-container {
    border: 0;
    margin: 1rem 0 0 0;
    padding: 0;
}

.contato {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size:calc(1.2vw + 1rem);
    line-height: 3rem;
    text-align: center;

    
}

.contato a {
    display: inline-block;
    text-decoration: solid;
    color: rgb(28, 3, 54);
}

.navbar {
    margin: 0;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #5FBDFF;
}

/* Estilos para os links da barra de navegação */
.navbar a {
    font-size:calc(1.5vw + 1rem);
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilos para os links da barra de navegação ao passar o mouse */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.marquee {
    color: #ffffff;
    font-size:calc(0.6vw + 1rem);
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: #43050570;
    padding: 10px 0;

}
